name: Python package

on:
  release:
    types: [created]

jobs:
  release-package:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install torch==1.11.0 torchvision==0.12.0
        pip install -e .["test"]
    - name: Test Package
      run: |
        pytest --cov=ml_benchmark test/
        echo $GITHUB_REF
    - name: Build Dist
      run: |
        VERSION=$(echo $GITHUB_REF | sed 's#.*/tags/##')
        PLACEHOLDER='__version__ = "develop"'
        VERSION_FILE='setup.py.'
        sed -i "s/$PLACEHOLDER/__version__ = \"${VERSION}\"/g" "$VERSION_FILE"
        pip install build==0.8.0 twine==4.0.1
        python -m build
    - name: Publish package
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{secrets.PYPI_ACCESS}}
        verbose: true

